<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel = "stylesheet">
        <title>Trips</title>
    </head>
    <body>
        <form action="login" method="POST">
            <div>
                <label>Username : </label><br/>
                <input type="text" placeholder="Enter Username" name="username" required><br/>
                <label>Password : </label><br/>
                <input type="password" placeholder="Enter Password" name="password" required><br/>
                <button type="submit">Login</button><br/>
            </div>
        </form>
    </body>
</html>