<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel = "stylesheet">
        <title>Trips</title>
    </head>
    <body>

        <a href="logout"><button> Log Out </button></a>
        {{#each this}}
            <div>
                <p class="name">Name: {{name}} </p>
                <p>Description: {{description}} </p>
                <p>Start:  {{start}} </p>
                <p class="date">Meetingpoint: {{meetingPoint}} </p>
            </div>
        {{/each}}
        <hr/>
        <form action="trips" method="POST">
                <label for="name">Trip name:</label><br>
                <input type="text" name="name"><br>
                <label for="description">Description:</label><br>
                <input type="text" name="description"><br>
                <label for="start">Start:</label><br>
                <input type="datetime-local" name="start"><br>
                <label for="description">Meeting point:</label><br>
                <input type="text" name="meetingPoint"><br>
                <input type="submit">
        </form>
    </body>
</html>